@keyframes fadeIn{
  0%{
    opacity: 0
  }
  100%{
    opacity: 1;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.pagination li{
  list-style-type: none;
}

.moveBtn{
  height: 35px;
  padding:10px;
  border: none;
  border-radius: 5px;
  /* background-color: rgba(222, 184, 135, .7); */
  /* background-color:  #4b769e; */
  background-color: #E1C699;
  cursor: pointer;
  animation: fadeIn 3s;
}

.pageBtn{
  height: 35px;
  width: 35px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  /* background-color: rgba(222, 184, 135, .3); */
  /* background-color: #4b769e; */
  background-color: #E1C699;
  cursor: pointer;
  animation: fadeIn 3s;
}
/* #9c7958, #E1C699 */
.selectedBtn {
  height: 35px;
  width: 35px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  /* background-color: #4b769e; */
  background-color: #9c7958;
  /* box-shadow: 0 0 0 2px #F27F0C; */
  cursor: pointer;
  animation: fadeIn 3s;
}

