@keyframes fadeIn{
  0%{
    opacity: 0
  }
  100%{
    opacity: 1;
  }
}

@keyframes rotating {
  0%{
    transform: rotateY(90deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.pagination li{
  list-style-type: none;
}

.moveBtn{
  margin: 5px;
  height: 35px;
  padding:5px;
  border: none;
  border-radius: 5px;
  background-color: #E1C699;
  cursor: pointer;
  animation: rotating 1.5s;
}

.pageBtn{
  height: 35px;
  width: 35px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #E1C699;
  cursor: pointer;
  /* animation: fadeIn 3s; */
  animation: rotating 1.5s;
}

.selectedBtn {
  height: 35px;
  width: 35px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #9c7958;
  cursor: pointer;
  /* animation: fadeIn 3s; */
  animation: rotating 1.5s;
}


.material-symbols-outlined {
  top: 50%;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.smallPaging{
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #E1C699;
  height: 35px;
  padding: 0 3px;
  border-radius: 5px;
  animation: rotating 1.5s
}

@media (max-width: 600px){
  .pageBtn{
    display: none
  }
  .selectedBtn{
    display: none
  }
  .smallPaging{
    display: flex;
  }
}