/* @font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lobster/v28/neILzCirqoswsqX9zoymM5Ez.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.fullScreen{
  background-image: url('../../images/landing-dog.jpg');
  background-color: rgb(246,251,254);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

.divEnter{
  position: absolute;
  width: 10rem;
  height: 5rem;
  text-align: center;
  border-radius: 15px;
  border: 5px solid transparent;
  border-top-color: lightskyblue;
  border-bottom-color: lightskyblue;
  cursor: pointer;
}

.enterBtn{
  width: 20%;
  height: 5%;
  background-image: url('../../images/paw.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-family: "Lobster", cursive;
  cursor: pointer;
  background-color:#E1C699;
  margin-top: 10vh;
  margin-left: 13vw;
}

.enterBtn:hover{
  background-color: #9c7958;
  transition: .5s;
}

.welcome{
  width: 50vw;
  margin: 0;
  padding-top: 15vh;
  padding-left: 13vw;
  font-size: 3rem;
  font-family: "Lobster", cursive;
}

.logo{
  width: 30px;
  height: auto;
}

.aboutMe{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 8vh;
  right: 5vw;
  width: 300px;
  background-color: #e0c79a9f;
  border-radius: 15px;
}

.spanAm{
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 7px;
}

.iconsContainer{
  display: flex;
  justify-content: space-around;
  width: 10vw;
}

.btnStart:hover{
  animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(0)
  }
  100%{
    transform: rotate(360deg)
  }
}
@media (max-width: 500px){
  .enterBtn{
    width: 40vw;
    height: auto;
    top: 60%;
  }

  .welcome{
    width: 0;
    right: 90%;
    top: 15%;
  }

}

@media (max-height: 550px){
  .aboutMe{
    bottom: 0;
    right: 0;
    scale: 0.8;
  }
}

@media (max-height: 450px){
  .aboutMe{
    display: none;
  }
}